:root {
  --primary-backgorund: #111015;
  --secondary-backgorund: #1a1a1c;
  --primary-text: #f2eee8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-backgorund: #111015;
    --secondary-backgorund: #1a1a1c;
    --primary-text: #f2eee8;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--primary-backgorund);
  height: 100%;
}

body {
  background-color: var(--primary-backgorund);
}

a {
  color: inherit;
  text-decoration: underline;
}

ul,
li {
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
