.container {
  background-color: var(--secondary-backgorund);
  color: var(--primary-text);
  /* ----- */
  width: 100%;
  height: auto;
  margin: auto;
  /* ----- */
  padding: 15px 35px;
  /* ---- */
  letter-spacing: 3px;
}

.mainNav li {
  display: inline-flex;
  margin: 0 20px;
  /* ----- */
  letter-spacing: 3px;
  text-transform: uppercase;
}
