.slider {
  width: 100%;
  height: 100%;
}

.sliderControlsContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
}

.buttonStyle {
  position: absolute;
  z-index: 999;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 15px;
  color: white;
  padding: 50px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonStyle:nth-child(1) {
  position: absolute;
  left: 5px;
  top: 35vh;
}

.buttonStyle:nth-child(2) {
  position: absolute;
  right: 5px;
  top: 35vh;
}
